<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.CognitoIdentity" version="3.3.2.34" targetFramework="net461" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.3.11.3" targetFramework="net461" />
  <package id="AWSSDK.CognitoSync" version="3.3.1.43" targetFramework="net461" />
  <package id="AWSSDK.Core" version="3.3.25.3" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.14.2" targetFramework="net461" />
  <package id="AWSSDK.MobileAnalytics" version="3.3.1.40" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.21.1" targetFramework="net461" />
  <package id="AWSSDK.SecurityToken" version="3.3.4.15" targetFramework="net461" />
  <package id="AWSSDK.SimpleNotificationService" version="3.3.1.11" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Serilog" version="2.7.2-dev-01024" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00777" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.0.1-dev-00796" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00771" targetFramework="net461" />
  <package id="Serilog.Sinks.Trace" version="3.0.0-dev-00732" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="Xam.Plugins.TextToSpeech" version="4.0.0.7" targetFramework="net461" />
</packages>